## Homework Week 1

**Question 1** <br>
What's the version of Pandas that you installed?

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

**Getting the data** <br>
For this homework, we'll use the California Housing Prices dataset.

In [ ]:
# import wget
# url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
# wget.download(url)

Now read it with Pandas.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

**Question 2** <br>
How many columns are in the dataset?

- 10  
- 6560 
- 10989
- 20640

In [4]:
print('The number of columns in given dataset:', df.shape[1]) # Displays columns

The number of columns in given dataset: 10

**Question 3**

Which columns in the dataset have missing values?

- <code>total_rooms</code>
- <code>total_bedrooms</code>
- both of the above
- no empty columns in the dataset

In [5]:
missing_val = df.isnull().sum() #Finding total number of missing values in columns
missing_val[missing_val > 0].index.tolist() # Outputs list of column names with missing values

['total_bedrooms']

**Question 4**

How many unique values does the ocean_proximity column have?

- 3
- 5
- 7
- 9

In [12]:
print('The number of unique values in ocean_proximity column:', df['ocean_proximity'].nunique()) # Generates the total number of unique values

The number of unique values in ocean_proximity column: 5

**Question 5**

What's the average value of the <code>median_house_value</code> for the houses located near the bay?

- 49433
- 124805
- 259212
- 380440

In [7]:
avg_house_value = df.groupby('ocean_proximity')['median_house_value'].mean()['NEAR BAY']
print(f"The average house value for houses near bay is {avg_house_value:.0f}")

The average house value for houses near bay is 259212

**Question 6**

1. Calculate the average of <code>total_bedrooms</code> column in the dataset.
2. Use the <code>fillna</code> method to fill the missing values in <code>total_bedrooms</code> with the mean value from the previous step.
3. Now, calculate the average of total_bedrooms again.
4. Has it changed?

Has it changed?

> Hint: take into account only 3 digits after the decimal point.

- Yes
- No

In [8]:
# Total number of missing values before filling
total_missing = df['total_bedrooms'].isna().sum() # number of missing values before filling

# Mean before filling missing values
initial_mean = df['total_bedrooms'].mean()

# Filling the missing values
df['total_bedrooms'] = df['total_bedrooms'].fillna(initial_mean)

# Mean after filling missing values
final_mean = df['total_bedrooms'].mean()

print(f'Total number of missing values: {total_missing}')
print(f'Average value of total_bedrooms before filling missing values: {initial_mean:.3f}')
print(f'Average value of total_bedrooms after filling missing values: {final_mean:.3f}')

Total number of missing values: 207
Average value of total_bedrooms before filling missing values: 537.871
Average value of total_bedrooms after filling missing values: 537.871

**Question 7**

1. Select all the options located on islands.
2. Select only columns housing_median_age, total_rooms, total_bedrooms.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [950, 1300, 800, 1000, 1300].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the value of the last element of w?

> Note: You just implemented linear regression. We'll talk about it in the next lesson.

- -1.4812
- 0.001
- 5.6992
- 23.1233

In [10]:
#Select all the options located on islands
island_df = df[df['ocean_proximity'] == 'ISLAND']

#Select only columns housing_median_age, total_rooms, total_bedrooms.
island_cols = island_df[['housing_median_age','total_rooms', 'total_bedrooms']]

#Get the underlying NumPy array. Let's call it X.
X = island_cols.values

#Compute matrix-matrix multiplication between the transpose of X and X. 
#To get the transpose, use X.T. Let's call the result XTX
XTX = (X.T).dot(X)

#Create an array y with values [950, 1300, 800, 1000, 1300]
y = np.array([950, 1300, 800, 1000, 1300])

#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. 
#Call the result w.
w = (np.linalg.inv(XTX)).dot(X.T).dot(y)

#What's the value of the last element of w?
print(f'The last value of w is {w[-1]:.4f}')

The last value of w is 5.6992